version: '3.8'

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: clinica-backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend/src:/app/src
      - ./data:/data
    environment:
      # --- ATTIVIAMO IL CLOUD ---
      - USE_AWS=true
      - PYTHONUNBUFFERED=1

      - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
      - AWS_REGION=us-east-2
      - S3_BUCKET_NAME=clinica-referti-fvirzi-tf-final
      - DYNAMODB_TABLE=ClinicaDB

    networks:
      - clinica-network
    restart: unless-stopped
    healthcheck:
      test: [ "CMD-SHELL", "curl -f http://localhost:8000/health || exit 1" ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: clinica-frontend
    ports:
      - "3000:3000"
    volumes:
      - ./frontend/src:/app/src
      - ./frontend/public:/app/public
      - /app/node_modules
    environment:
      - REACT_APP_API_URL=http://3.139.54.196:8000
      - CHOKIDAR_USEPOLLING=true
    networks:
      - clinica-network
    depends_on:
      backend:
        condition: service_healthy
    restart: unless-stopped
    stdin_open: true
    tty: true

networks:
  clinica-network:
    driver: bridge
